<h2>Here you can add movies!</a>

<form action="/movies/add" method="post">
	<ul>
		<li>
			Movie Name: <input type="text" name="movieName">
		</li>
		<li>
			Director: <input type="text" name="directorName">
		</li>
		<li>
			Year: <input type="number" name="year">
		</li>
	</ul>
	<div class="button">
	  <button type="submit">Add a movie</button>
	</div>
</form>

<a href='/movies'>Home Page</a>