<form action='/image-posts' method='post'>
	Image Post Title: <input type="text" name="title">
	<ul>
		<li>Image 1 URL <input type="text" name="url1">,
		 Caption: <input type="text" name="caption1"></li>
		<li>Image 2 URL <input type="text" name="url2">,
		 Caption: <input type="text" name="caption2"></li>
		<li>Image 3 URL <input type="text" name="url3">,
		 Caption: <input type="text" name="caption3"></li>
	</ul>
	<div class="button">
		<button type="submit">Add New Image Post</button>
	</div>

</form>

{{#if err}}
	<h1 style="color:red">Error the Title of your post wasn't included!</h1>
{{/if}}
<br>

<ul>
	
	{{#each posts}}
		<h3><a href="/image-posts/{{this.slug}}">{{this.title}}</a></h3>
		<ul>
			{{#each images}}
				<p>{{this.caption}}</p>
				<img src={{this.url}} height="200" width="200">
			{{/each}}
		</ul>

	{{/each}}
</ul>
