<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body>
    <h1>#HEXcuse Me!</h1>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/colors">Colors</a></li>
    </ul>
    {{{body}}}
</body>
</html>